Repository docling-project/docling-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.5
    hooks:
      - id: ruff-format
        name: "Ruff formatter"
        args: [--config=pyproject.toml]
      - id: ruff
        name: "Ruff linter"
        args: [--exit-non-zero-on-fix, --fix, --config=pyproject.toml]
  - repo: local
    hooks:
      - id: clang-format
        name: "Format C++ code"
        entry: uv run clang-format -i 
        pass_filenames: true
        language: system
        files: '\.(cpp|h)$'
  - repo: local
    hooks:
      - id: mypy
        name: MyPy
        entry: uv run --no-sync mypy packages/
        pass_filenames: false
        language: system
        files: '\.py$'

  # TODO: Add cppcheck also

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.8
    hooks:
      - id: uv-lock
        name: uv up-to-date

feat(docling-metrics-text): Modify edit_distance.cpp to check against memory limitations
  packages/docling-metrics-text/cpp/include/edit_distance.h
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
Due: clang-format

feat(docling-metrics-text): Extend the text_manager.cpp to set the logging level with optional constructor parameter
  packages/docling-metrics-text/cpp/include/text_manager.h
  packages/docling-metrics-text/cpp/include/treebank.h
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
  packages/docling-metrics-text/cpp/src/pybind_module.cpp
  packages/docling-metrics-text/cpp/src/text_manager.cpp
Due: clang-format

chore: Code comments
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
Due: clang-format

fix(docling-metrics-text): Fix issues in C++ code
  packages/docling-metrics-text/cpp/include/edit_distance.h
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
Due: clang-format

feat(docling-metrics-layout): First C++ round to port the MultiLabelConfusionMatrix from Python
  packages/docling-metrics-layout/CMakeLists.txt
  packages/docling-metrics-layout/cpp/include/multi_label_confusion_matrix.h
  packages/docling-metrics-layout/cpp/src/multi_label_confusion_matrix.cpp
Due: clang-format

chore(docling-metrics-layout): Rename the pixel metric as TORE - part1
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/tore/__init__.py
  packages/docling-metrics-layout/docling_metrics_layout/tore/confusion_matrix_exporter.py
  packages/docling-metrics-layout/docling_metrics_layout/tore/multi_label_confusion_matrix.py
  packages/docling-metrics-layout/docling_metrics_layout/tore/tore_layout_evaluator.py
  packages/docling-metrics-layout/tests/test_multi_label_confusion_matrix.py
  packages/docling-metrics-layout/tests/test_pixel_layout_evaluator.py
Due: mypy

chore(docling-metrics-layout): Rename the pixel metric as TORE - part2
  packages/docling-metrics-layout/demo/demo_docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/__init__.py
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/benchmark.py
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/layout_types.py
  packages/docling-metrics-layout/docling_metrics_layout/tore/tore_layout_evaluator.py
  packages/docling-metrics-layout/tests/test_pixel_layout_evaluator.py
Due: mypy

chore(docling-metrics-layout): Rename the pixel metric as TORE - part3
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/benchmark.py
Due: mypy

chore: Make the pypi install dependencies verbose
  .github/workflows/pypi.yml
Due: none

chore: Adapt cmake and devtools/build_cpp.sh files to work with ninja
  packages/docling-metrics-table/devtools/build_cpp.sh
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
  packages/docling-metrics-text/devtools/build_cpp.sh
Due: none

chore(docling-metrics-layout): Switch to ninja in order to align with Github CI/CD
  packages/docling-metrics-layout/devtools/build_cpp.sh
Due: none

chore: Build wheels for docling-metrics-text in CI/CD and locally via devtools
  .github/workflows/ci.yml
  packages/docling-metrics-text/devtools/build_wheel.sh
Due: none

chore: Fixing the compilation of abseil in docling-metrics-text
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
Due: none

chore(docling-metrics-text): Refactor the cmake files to make them work also in Windows
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
Due: none

feat: Optimized C++ implementation for edit_distance (#14)
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  packages/docling-metrics-table/devtools/build_cpp.sh
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
  packages/docling-metrics-text/cpp/include/edit_distance.h
  packages/docling-metrics-text/cpp/include/edlib.h
  packages/docling-metrics-text/cpp/include/text_manager.h
  packages/docling-metrics-text/cpp/include/treebank.h
  packages/docling-metrics-text/cpp/include/utils.h
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
  packages/docling-metrics-text/cpp/src/edlib.cpp
  packages/docling-metrics-text/cpp/src/main.cpp
  packages/docling-metrics-text/cpp/src/pybind_module.cpp
  packages/docling-metrics-text/cpp/src/text_manager.cpp
  packages/docling-metrics-text/cpp/src/utils.cpp
  packages/docling-metrics-text/cpp_tests/test_edit_distance.cpp
  packages/docling-metrics-text/cpp_tests/test_utils.cpp
  packages/docling-metrics-text/devtools/build_cpp.sh
  packages/docling-metrics-text/devtools/build_wheel.sh
  packages/docling-metrics-text/docling_metrics_text/benchmarks/benchmark.py
  packages/docling-metrics-text/docling_metrics_text/benchmarks/edit_distance_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/pyproject.toml
Due: clang-format, mypy

docs: Update main README.md
  README.md
Due: none

docs: Copy the demo code also inside the Readme of each package
  packages/docling-metrics-layout/README.md
  packages/docling-metrics-layout/demo/demo_docling_metrics_layout.py
  packages/docling-metrics-table/README.md
  packages/docling-metrics-text/README.md
Due: mypy

chore: Add layout package to targets in CD chooser
  .github/workflows/cd.yml
Due: none

chore: Add layout package to targets in CD chooser (#17)
  .github/workflows/cd.yml
Due: none

feat: add docling-metrics-chemistry package
  .github/workflows/cd.yml
  packages/docling-metrics-chemistry/README.md
  packages/docling-metrics-chemistry/docling_metrics_chemistry/__init__.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/cxsmiles_parser.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/molecule_scores.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/py.typed
  packages/docling-metrics-chemistry/docling_metrics_chemistry/smiles_metric.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/smiles_utils.py
  packages/docling-metrics-chemistry/pyproject.toml
  packages/docling-metrics-chemistry/tests/test_smiles_metric.py
  pyproject.toml
  uv.lock
Due: mypy

fix(docling-metrics-text): Return -1.0 score in case the metric cannot be computed
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

feat(docling-metric-text): Harden the code with error handling. Add more unit tests
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

fix: Improve the error handling for docling-metrics-text (#18)
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

chore(layout): Remove logs for the layout evaluation of individual samples
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
Due: mypy

chore(layout): Remove logs for the layout evaluation of individual samples (#19)
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
Due: mypy

feat(text): Ensure that computation of BLEU can happen in parallel using the evaluate library. Extend the unit tests to cover the case of parallel BLEU computation.
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

chore: Restore old state of test_text_metrics.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

feat(text): Ensure that computation of BLEU can happen in parallel using the evaluate library. (#20)
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

chore: Renaming testing functions. Create new stub test function
  packages/docling-metrics-table/tests/test_docling_metric_table.py
Due: mypy

feat: First implementation of GriTS metric. WIP
  packages/docling-metrics-table/docling_metrics_table/docling_metrics_table.py
  packages/docling-metrics-table/docling_metrics_table/utils/grits.py
  packages/docling-metrics-table/pyproject.toml
  packages/docling-metrics-table/tests/test_docling_metric_table.py
  uv.lock
Due: mypy

chore: Rename the field names
  packages/docling-metrics-table/docling_metrics_table/docling_metrics_table.py
  packages/docling-metrics-table/tests/test_docling_metric_table.py
Due: mypy

feat: Compose the table metrics into TEDS and GriTS classes
  packages/docling-metrics-table/docling_metrics_table/__init__.py
  packages/docling-metrics-table/docling_metrics_table/benchmark.py
  packages/docling-metrics-table/docling_metrics_table/docling_metrics_table.py
  packages/docling-metrics-table/tests/test_docling_metric_table.py
Due: mypy

chore: Add code comments
  packages/docling-metrics-table/docling_metrics_table/docling_metrics_table.py
  packages/docling-metrics-table/docling_metrics_table/utils/grits.py
Due: mypy

feat: integrate docling-metrics-chemistry with SMILES/Markush evaluation
  README.md
  packages/docling-metrics-chemistry/docling_metrics_chemistry/molecule_scores.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/smiles_utils.py
  packages/docling-metrics-chemistry/tests/data/test_gt_smiles_list.json
  packages/docling-metrics-chemistry/tests/data/test_gt_smiles_opt_list.json
  packages/docling-metrics-chemistry/tests/data/test_predicted_smiles_list.json
  packages/docling-metrics-chemistry/tests/data/test_predicted_smiles_opt_list.json
  packages/docling-metrics-chemistry/tests/test_smiles_metric_json_vectors.py
  run_eval.py
Due: mypy

chore: Code comments and simple refactoring.
  packages/docling-metrics-table/docling_metrics_table/docling_metrics_table.py
  packages/docling-metrics-table/docling_metrics_table/utils/grits.py
Due: mypy

chore(chemistry): add pydantic as a dependency, fix valid prediction fallbacks
  packages/docling-metrics-chemistry/docling_metrics_chemistry/smiles_metric.py
  packages/docling-metrics-chemistry/pyproject.toml
  uv.lock
Due: mypy

test(chemistry): move package eval script into tests directory
  packages/docling-metrics-chemistry/tests/test_run_eval.py
Due: mypy

feat(docling_metrics_table): Extend the GriTS implementation to accept geometric input that computes all GriTS tasks (top, con and loc).
  packages/docling-metrics-table/docling_metrics_table/__init__.py
  packages/docling-metrics-table/docling_metrics_table/docling_metrics_table.py
  packages/docling-metrics-table/docling_metrics_table/utils/grits.py
  packages/docling-metrics-table/tests/test_docling_metric_table.py
Due: mypy

chore: rename smiles_metric to docling_metrics_chemistry and fix imports
  packages/docling-metrics-chemistry/docling_metrics_chemistry/__init__.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/docling_metrics_chemistry.py
  packages/docling-metrics-chemistry/tests/test_run_eval.py
Due: mypy
