Repository docling-project/docling-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.5
    hooks:
      - id: ruff-format
        name: "Ruff formatter"
        args: [--config=pyproject.toml]
      - id: ruff
        name: "Ruff linter"
        args: [--exit-non-zero-on-fix, --fix, --config=pyproject.toml]
  - repo: local
    hooks:
      - id: clang-format
        name: "Format C++ code"
        entry: uv run clang-format -i 
        pass_filenames: true
        language: system
        files: '\.(cpp|h)$'
  - repo: local
    hooks:
      - id: mypy
        name: MyPy
        entry: uv run --no-sync mypy packages/
        pass_filenames: false
        language: system
        files: '\.py$'

  # TODO: Add cppcheck also

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.8
    hooks:
      - id: uv-lock
        name: uv up-to-date

chore: Add the native C++ tests in the github workflow
  .github/workflows/job-checks.yml
Due: none

chore: Disable the native c++ tests
  .github/workflows/job-checks.yml
Due: none

feat(docling-metric-teds): Extend the tests to cover bracket and HTML input data. WIP properly test teds with/without brackets.
  packages/docling-metric-teds/tests/data/GT_CHD.2018.page_21.pdf_147707_0.bracket
  packages/docling-metric-teds/tests/data/GT_CHD.2018.page_21.pdf_147707_0.html
  packages/docling-metric-teds/tests/data/GT_ZBRA.2018.page_89.pdf_172_0.bracket
  packages/docling-metric-teds/tests/data/GT_ZBRA.2018.page_89.pdf_172_0.html
  packages/docling-metric-teds/tests/data/pred_CHD.2018.page_21.pdf_147707_0.bracket
  packages/docling-metric-teds/tests/data/pred_CHD.2018.page_21.pdf_147707_0.html
  packages/docling-metric-teds/tests/data/pred_ZBRA.2018.page_89.pdf_172_0.bracket
  packages/docling-metric-teds/tests/data/pred_ZBRA.2018.page_89.pdf_172_0.html
  packages/docling-metric-teds/tests/test_docling_metric_teds.py
Due: mypy

Notes added by 'git notes add'
  9f3ca8511849254b5a7a483fe99952f45753a758
Due: none

fix(docling-metric-teds): Pass the structure_only parameter to the html-to-bracket conversion
  packages/docling-metric-teds/docling_metric_teds/docling_metric_teds.py
Due: mypy

feat(docling-metric-teds): Extend the tests to cover the cases with HTML inputs
  packages/docling-metric-teds/tests/data/GT_WU.2016.page_106.pdf_68194_0.bracket
  packages/docling-metric-teds/tests/data/GT_WU.2016.page_106.pdf_68194_0.html
  packages/docling-metric-teds/tests/data/GT_ZBRA.2018.page_89.pdf_172_0.bracket
  packages/docling-metric-teds/tests/data/GT_ZBRA.2018.page_89.pdf_172_0.html
  packages/docling-metric-teds/tests/data/pred_WU.2016.page_106.pdf_68194_0.bracket
  packages/docling-metric-teds/tests/data/pred_WU.2016.page_106.pdf_68194_0.html
  packages/docling-metric-teds/tests/data/pred_ZBRA.2018.page_89.pdf_172_0.bracket
  packages/docling-metric-teds/tests/data/pred_ZBRA.2018.page_89.pdf_172_0.html
  packages/docling-metric-teds/tests/test_docling_metric_teds.py
Due: mypy

docs(docling-metric-teds): Update Readme
  packages/docling-metric-teds/README.md
Due: none

Fix docling_metric_teds package name for scikit-build-core
  packages/docling-metric-teds/pyproject.toml
Due: none

test: Fix docling_metric_teds CMake install target paths
  packages/docling-metric-teds/CMakeLists.txt
Due: none

Switch back to relative imports, add .pyi to avoid #type: ignore
  packages/docling-metric-teds/docling_metric_teds/__init__.py
  packages/docling-metric-teds/docling_metric_teds/docling_metric_teds.py
  packages/docling-metric-teds/docling_metric_teds/docling_metric_teds_cpp.pyi
Due: mypy

Fix how release version is determined for packages
  .github/scripts/release.sh
  .github/workflows/cd.yml
Due: none

docs(docling-metric-teds): Update Readme usage
  packages/docling-metric-teds/README.md
Due: none

chore(docling_metric_teds): Replace Levenshtein with RapidFuzz library
  packages/docling-metric-teds/docling_metric_teds/utils/teds.py
  packages/docling-metric-teds/pyproject.toml
  uv.lock
Due: mypy

fix(docling-metric-teds): Fix devtools
  packages/docling-metric-teds/devtools/build_wheel.sh
  pyproject.toml
  uv.lock
Due: none

docs(docling-metric-teds): Extend the usage example in Readme
  packages/docling-metric-teds/README.md
Due: none

Rename docling-metric-hello-world
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packages/docling-metrics-hello-world-cpp/CMakeLists.txt
  packages/docling-metrics-hello-world-cpp/README.md
  packages/docling-metrics-hello-world-cpp/cpp/hello_world.cpp
  packages/docling-metrics-hello-world-cpp/docling_metrics_hello_world_cpp/__init__.py
  packages/docling-metrics-hello-world-cpp/docling_metrics_hello_world_cpp/_hello_world_cpp.pyi
  packages/docling-metrics-hello-world-cpp/docling_metrics_hello_world_cpp/hello_world_metric.py
  packages/docling-metrics-hello-world-cpp/docling_metrics_hello_world_cpp/py.typed
  packages/docling-metrics-hello-world-cpp/pyproject.toml
  packages/docling-metrics-hello-world-cpp/tests/test_cpp_binding.py
  packages/docling-metrics-hello-world-cpp/tests/test_hello_world_metric_cpp.py
  packages/docling-metrics-hello-world/README.md
  packages/docling-metrics-hello-world/docling_metrics_hello_world/__init__.py
  packages/docling-metrics-hello-world/docling_metrics_hello_world/hello_world_metric.py
  packages/docling-metrics-hello-world/docling_metrics_hello_world/py.typed
  packages/docling-metrics-hello-world/pyproject.toml
  packages/docling-metrics-hello-world/tests/test_hello_world_metric.py
  pyproject.toml
  uv.lock
Due: clang-format, mypy

Remove mac-intel and excessive manylinux flavours from wheel build
  .github/workflows/wheels.yml
Due: none

chore: Remove mac-intel and excessive manylinux flavours from wheel build (#6)
  .github/workflows/wheels.yml
Due: none

feat(docling-metrics-text): Introducing metrics for text. WIP
  packages/docling-metrics-text/Readme.md
  packages/docling-metrics-text/docling_metrics_text/benchmark.py
  packages/docling-metrics-text/pyproject.toml
  pyproject.toml
Due: mypy

feat(docling-metrics-text_: Add benchmark to measure the exactness between Python and C++ implementations of text metrics. Currently focused on "edit-distance" metric from NLTK and RapidFuzz.
  packages/docling-metrics-text/docling_metrics_text/__init__.py
  packages/docling-metrics-text/docling_metrics_text/benchmark.py
  uv.lock
Due: mypy

fix(docling-metrics-text): Fix text benchmark.py. Add utils.
  packages/docling-metrics-text/docling_metrics_text/benchmark.py
  packages/docling-metrics-text/docling_metrics_text/utils/text_metrics.py
Due: mypy

feat: WIP CMakeLists.txt to compile/link RE2 and Abseil
  packages/docling-metrics-text/.gitignore
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_cxxopts.cmake
  packages/docling-metrics-text/cmake/extlib_json.cmake
  packages/docling-metrics-text/cmake/extlib_loguru.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
  packages/docling-metrics-text/cpp_src/cli/main.cpp
  packages/docling-metrics-text/devtools/build_cpp.sh
Due: clang-format

chore(docling-metrics-text): CMakeLists.txt that builds RE2 and Abseil. No main yet.
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
  packages/docling-metrics-text/cpp_src/cli/main.cpp
  packages/docling-metrics-text/devtools/build_cpp.sh
Due: clang-format

fix(docling-metrics-text): Fix the CMakeLists.txt to have all libraries compiled and the main linked There is still a warning from the linker about MacOS versions mismatch
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
  packages/docling-metrics-text/cpp_src/cli/main.cpp
  packages/docling-metrics-text/devtools/build_cpp.sh
Due: clang-format

fix: WIP: Set the right path for external libs based on the system
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
Due: none

fix(docling-metrics-text): Fix git tag for abseil
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
Due: none

Minor fixes in CMakeLists.txt
  packages/docling-metrics-text/CMakeLists.txt
Due: none

chore(docling-metrics-text): Extend CMakeLists.txt to create object lib for source code
  packages/docling-metrics-text/CMakeLists.txt
Due: none

feat(docling-metrics-text): Add skeleton for TreeTokenizer
  packages/docling-metrics-text/cpp_src/cli/main.cpp
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.cpp
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.h
  packages/docling-metrics-text/devtools/build_cpp.sh
Due: clang-format

chore(docling-metric-text): Fix object lib in CMakeLists.txt
  packages/docling-metrics-text/CMakeLists.txt
Due: none

feat: Working on TreeBank tokenizer
  packages/docling-metrics-text/cpp_src/cli/main.cpp
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.cpp
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.h
Due: clang-format

feat(docling-metric-text): Add test function in main for the tokenizer
  packages/docling-metrics-text/cpp_src/cli/main.cpp
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.cpp
Due: clang-format

feat: Refactor the tokenizer to pre-compile the regexes. Add proper C++ unit test. Extend CMakeLists.txt to support C++ tests. Add devtools/test_cpp.sh
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cpp_src/cli/main.cpp
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.cpp
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.h
  packages/docling-metrics-text/cpp_tests/test_tokenizer.cpp
  packages/docling-metrics-text/devtools/test_cpp.sh
Due: clang-format

feat(docling_metrics_text): Introduce the TextManager and the python bindings in C++. Currently it exposes only the tokenize() interface.
  packages/docling-metrics-text/.gitignore
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cpp_src/pybind/pybind_module.cpp
  packages/docling-metrics-text/cpp_src/pybind/text_manager.cpp
  packages/docling-metrics-text/cpp_src/pybind/text_manager.h
Due: clang-format

feat(docling-metrics-text): Introduce the main python class TextMetrics. Currently only with the private method _tokenize()
  packages/docling-metrics-text/docling_metrics_text/__init__.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.pyi
Due: mypy

fix(docling-metrics-text): Fix issues in python bindings
  packages/docling-metrics-text/cpp_src/pybind/pybind_module.cpp
  packages/docling-metrics-text/cpp_src/pybind/text_manager.h
  packages/docling-metrics-text/cpp_tests/test_tokenizer.cpp
Due: clang-format
