Repository docling-project/docling-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: Format C++ code
  entry: uv run clang-format -i
  pass_filenames: true
  language: system

mypy:
  name: MyPy
  entry: uv run --no-sync mypy packages/
  pass_filenames: false
  language: system

fix: pypi.yml missing uvx was silently failing in parsing pyproject.toml
  .github/workflows/pypi.yml
Due: none

fix: pypi.yml missing uvx was silently failing in parsing pyproject.toml (#13)
  .github/workflows/pypi.yml
Due: none

chore(docling-metrics-text): Remove unused code
  packages/docling-metrics-text/cpp/include/_edlib.h
  packages/docling-metrics-text/cpp/src/_edlib.cpp
Due: clang-format

chore: Rename core API parameter
  packages/docling-metrics-core/docling_metrics_core/base_types.py
Due: mypy

chore(docling-metrics-layout): Update Python dependencies
  packages/docling-metrics-layout/pyproject.toml
  uv.lock
Due: none

feat(docling-metrics-layout): Migrate the PixelLayoutEvaluator with support of evaluate_sample() and evaluate_dataset()
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/layout_types.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/__init__.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/confusion_matrix_exporter.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/multi_label_confusion_matrix.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_layout_evaluator.py
  packages/docling-metrics-layout/docling_metrics_layout/utils/__init__.py
  packages/docling-metrics-layout/docling_metrics_layout/utils/stats.py
  packages/docling-metrics-layout/docling_metrics_layout/utils/utils.py
Due: mypy

fix(docling-metrics-layout): Fix pyproject.toml name and module registration. Fix python imports. Migrate simple tests for the MultiLabelConfusionMatrix.
  packages/docling-metrics-layout/docling_metrics_layout/__init__.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/confusion_matrix_exporter.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/multi_label_confusion_matrix.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_layout_evaluator.py
  packages/docling-metrics-layout/pyproject.toml
  packages/docling-metrics-layout/tests/data/dlnv1_t1.png
  packages/docling-metrics-layout/tests/data/dlnv1_t1_preds.json
  packages/docling-metrics-layout/tests/data/full_doc_9765e0950a5f699ea2b7430055b724034d93d735.json
  packages/docling-metrics-layout/tests/data/full_doc_9765e0950a5f699ea2b7430055b724034d93d735.pdf
  packages/docling-metrics-layout/tests/test_multi_label_confusion_matrix.py
  packages/docling-metrics-layout/tests/test_pixel_layout.py
  pyproject.toml
  uv.lock
Due: mypy

fix(docling-metrics-layout): Refactor test_multi_label_confusion_matrix.py to use BboxResolution and remove the COCO_LayoutResolution
  packages/docling-metrics-layout/tests/test_multi_label_confusion_matrix.py
Due: mypy

fix(docling-metrics-layout): Migrate all tests in test_multi_label_confusion_matrix.py
  packages/docling-metrics-layout/tests/test_multi_label_confusion_matrix.py
Due: mypy

fix(docling-metrics-layout): Minimize the test data and refactor unit tests to simplify code
  packages/docling-metrics-layout/tests/data/dlnv1_t1_preds.json
  packages/docling-metrics-layout/tests/data/full_doc_9765e0950a5f699ea2b7430055b724034d93d735.json
  packages/docling-metrics-layout/tests/data/full_doc_9765e0950a5f699ea2b7430055b724034d93d735.pdf
  packages/docling-metrics-layout/tests/test_multi_label_confusion_matrix.py
Due: mypy

fix: Add all workspaces in the main pyproject.toml
  pyproject.toml
  uv.lock
Due: none

feat(docling-metrics-layout): Add test for test_docling_metrics_layout
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/tests/data/dlnv1_t1.png
  packages/docling-metrics-layout/tests/test_docling_metrics_layout.py
Due: mypy

chore(docling-metrics-layout): Add missing python dependencies
  packages/docling-metrics-layout/pyproject.toml
  uv.lock
Due: none

chore(docling-metrics-layout): Add test data with scores
  packages/docling-metrics-layout/tests/data/dlnv1_t1_preds_score.json
Due: none

chore(docling-metrics-layout): Code styling
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_layout_evaluator.py
Due: mypy

feat(docling-metrics-layout): Extend the PixelLayoutEvaluator and refactor tests to have test only for that
  packages/docling-metrics-layout/docling_metrics_layout/layout_types.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_layout_evaluator.py
  packages/docling-metrics-layout/docling_metrics_layout/utils/utils.py
  packages/docling-metrics-layout/tests/test_pixel_layout.py
  packages/docling-metrics-layout/tests/test_pixel_layout_evaluator.py
Due: mypy

feat(docling-metrics-layout): Introduce the MAPLayoutEvaluator with test
  packages/docling-metrics-layout/docling_metrics_layout/map/map_layout_evaluator.py
  packages/docling-metrics-layout/pyproject.toml
  packages/docling-metrics-layout/tests/test_map_layout_evaluator.py
  packages/docling-metrics-layout/tests/test_pixel_layout_evaluator.py
  uv.lock
Due: mypy

feat(docling-metrics-layout): Integrate both layout evaluators in the LayoutMetrics
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/layout_types.py
  packages/docling-metrics-layout/docling_metrics_layout/map/map_layout_evaluator.py
  packages/docling-metrics-layout/tests/test_map_layout_evaluator.py
Due: mypy

feat(docling-metrics-layout): Decompose the implementation of LayoutMetrics to introduce private methods for each evaluator call
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/layout_types.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_layout_evaluator.py
  packages/docling-metrics-layout/docling_metrics_layout/utils/stats.py
Due: mypy

feat(docling-metrics-layout): Compute mAP statistics for all pages in the dataset
  packages/docling-metrics-layout/docling_metrics_layout/layout_types.py
  packages/docling-metrics-layout/docling_metrics_layout/map/map_layout_evaluator.py
  packages/docling-metrics-layout/docling_metrics_layout/utils/stats.py
  packages/docling-metrics-layout/tests/test_map_layout_evaluator.py
Due: mypy

chore(docling-metrics-text): Removed unused code and dependencies
  packages/docling-metrics-text/docling_metrics_text/benchmarks/benchmark.py
  packages/docling-metrics-text/pyproject.toml
  uv.lock
Due: mypy

fix(docling-metrics-layout): Simplify the test data to keep only predictions with scores
  packages/docling-metrics-layout/tests/data/_dlnv1_t1_preds.json
  packages/docling-metrics-layout/tests/test_multi_label_confusion_matrix.py
  packages/docling-metrics-layout/tests/test_pixel_layout_evaluator.py
Due: mypy

fix(docling-metrics-layout): MAPLayoutEvaluator
  packages/docling-metrics-layout/docling_metrics_layout/map/map_layout_evaluator.py
Due: mypy

feat(docling-metrics-layout): Add runtime benchmarks
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/benchmark.py
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/tools.py
Due: mypy

feat(docling-metrics-layout): Improve the report in the benchmark.py
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/benchmark.py
  packages/docling-metrics-layout/docling_metrics_layout/map/map_layout_evaluator.py
Due: mypy

chore(docling-metrics-layout): Disable ruff errors
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/benchmark.py
Due: mypy

chore: Clean up code
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/benchmark.py
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/tools.py
Due: mypy

chore: Add missing dependencies
  packages/docling-metrics-layout/pyproject.toml
  uv.lock
Due: none

feat(docling-metrics-layout): Extend the LayoutMetricDatasetEvaluation with the filename of the produced reports
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/layout_types.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_layout_evaluator.py
Due: mypy

fix: Disable the coco-tools logging
  packages/docling-metrics-layout/docling_metrics_layout/benchmarks/benchmark.py
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
Due: mypy

chore: Update .gitignore
  .gitignore
  packages/docling-metrics-layout/.gitignore
Due: none

feat: Add demo code for docling-metric-table, docling-metric-layout, docling-metric-text and update the READMEs
  packages/docling-metrics-layout/README.md
  packages/docling-metrics-layout/demo/demo_docling_metrics_layout.py
  packages/docling-metrics-table/README.md
  packages/docling-metrics-table/demo/demo_docling_metrics_table.py
  packages/docling-metrics-text/README.md
  packages/docling-metrics-text/demo/demo_docling_metrics_text.py
Due: mypy

docs: Update Readmes
  packages/docling-metrics-layout/README.md
  packages/docling-metrics-text/README.md
Due: none

fix(docling-metrics-layout): Fix tests
  packages/docling-metrics-layout/tests/data/_dlnv1_t1_preds.json
  packages/docling-metrics-layout/tests/test_multi_label_confusion_matrix.py
  packages/docling-metrics-layout/tests/test_pixel_layout_evaluator.py
Due: mypy

chore(docling-metrics-text): Remove unused C++ CLI and libs
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cpp/src/main.cpp
Due: clang-format

chore(docling-metrics-text): Refactoring the edit_distance C++ implementation and tests
  packages/docling-metrics-text/cpp/include/edit_distance.h
  packages/docling-metrics-text/cpp/include/text_manager.h
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
  packages/docling-metrics-text/cpp/src/text_manager.cpp
  packages/docling-metrics-text/cpp_tests/test_edit_distance.cpp
Due: clang-format

chore: code comments
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
Due: clang-format

feat(docling-metrics-text): Introduce memory.h
  packages/docling-metrics-text/cpp/include/memory.h
  packages/docling-metrics-text/cpp_tests/test_memory.cpp
Due: clang-format

fix(docling-metrics-text): Update test for edit distance
  packages/docling-metrics-text/cpp_tests/test_edit_distance.cpp
Due: clang-format

feat(docling-metrics-text): Introduce utils.cpp/h
  packages/docling-metrics-text/cpp/include/memory.h
  packages/docling-metrics-text/cpp/include/utils.h
  packages/docling-metrics-text/cpp/src/utils.cpp
  packages/docling-metrics-text/cpp_tests/test_utils.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cpp|h)$
  mypy: any of: \.py$
