Repository docling-project/docling-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: Format C++ code
  entry: uv run clang-format -i
  pass_filenames: true
  language: system

mypy:
  name: MyPy
  entry: uv run --no-sync mypy packages/
  pass_filenames: false
  language: system

feat(docling_metrics_text): Introduce EditDistanceMetric in Python with the tokenizer as private method. Add python test.
  packages/docling-metrics-text/docling_metrics_text/__init__.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.pyi
  packages/docling-metrics-text/tests/test_docling_metrics_text.py
Due: mypy

feat(docling_metrics_text): Working on the TokenizerBenchmarker. Move all benchmarks inside a subdir
  packages/docling-metrics-text/docling_metrics_text/benchmarks/__init__.py
  packages/docling-metrics-text/docling_metrics_text/benchmarks/edit_distance_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/benchmarks/tokenizer_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/utils/text_metrics.py
Due: mypy

feat(docling-metrics-text): Tokenizer benchmark works
  packages/docling-metrics-text/docling_metrics_text/benchmarks/tokenizer_benchmark.py
Due: mypy

feat: Add more test data for the C++ tokenizer. Rename the unit test.
  packages/docling-metrics-text/tests/data/md/blocks.md
  packages/docling-metrics-text/tests/data/md/duck.md
  packages/docling-metrics-text/tests/data/md/ending_with_table.md
  packages/docling-metrics-text/tests/data/md/escaped_characters.md
  packages/docling-metrics-text/tests/data/md/inline_and_formatting.md
  packages/docling-metrics-text/tests/data/md/mixed.md
  packages/docling-metrics-text/tests/data/md/mixed_without_h1.md
  packages/docling-metrics-text/tests/data/md/nested.md
  packages/docling-metrics-text/tests/data/md/wiki.md
  packages/docling-metrics-text/tests/data/nltk_tokens.json
  packages/docling-metrics-text/tests/test_cpp_tokenizer.py
  packages/docling-metrics-text/tests/test_docling_metrics_text.py
Due: mypy

fix: Fix the evaluate_sample() in BaseMetric to properly accept one BaseInputSample parameter
  packages/docling-metrics-core/docling_metrics_core/base_types.py
  packages/docling-metrics-hello-world/docling_metrics_hello_world/hello_world_metric.py
Due: mypy

fix: Fix the evaluate_sample() in BaseMetric to properly accept one BaseInputSample parameter (#8)
  packages/docling-metrics-core/docling_metrics_core/base_types.py
  packages/docling-metrics-hello-world/docling_metrics_hello_world/hello_world_metric.py
Due: mypy

feat(docling-metrics-text): Python implementation of the EditDistanceMetric
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

feat(docling-metrics-text): Python implementation of the TextMetrics
  packages/docling-metrics-core/docling_metrics_core/base_types.py
  packages/docling-metrics-text/docling_metrics_text/__init__.py
  packages/docling-metrics-text/docling_metrics_text/benchmarks/tokenizer_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/pyproject.toml
  packages/docling-metrics-text/tests/test_cpp_tokenizer.py
Due: mypy

chore: Disable building C++ for docling-metrics-text
  packages/docling-metrics-text/pyproject.toml
  uv.lock
Due: none

feat(docling-metrics-text): Introduce the TextFileLoader in the utilities and fix various other issues
  packages/docling-metrics-text/docling_metrics_text/benchmarks/tokenizers_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/docling_metrics_text/utils/data_loader.py
  packages/docling-metrics-text/tests/test_cpp_tokenizer.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

fix: Refactor the TokenizersBenchmarker to use the DataLoader
  packages/docling-metrics-text/docling_metrics_text/benchmarks/tokenizers_benchmark.py
Due: mypy

fix(docling-metrics-teds): Remove __init__.py from tests to avoid duplicate module name error
  packages/docling-metrics-teds/tests/__init__.py
Due: mypy

chore(docling-metrics-text): Replace the test data with markdown files with pairs of GT/preds
  packages/docling-metrics-text/tests/data/md/GT_ff53c7ca2dcd955e07db19643809483cd29dd4e2caedc4e494253cdf0bd51ffc.md
  packages/docling-metrics-text/tests/data/md/GT_ff5c99ec039099a6da52977f98180b847f51378892af85007c9d737c5e97d304.md
  packages/docling-metrics-text/tests/data/md/GT_ff69aaffb9dcb6b8b682804fff48a54d96bf2d594ecae9749835dc048769213f.md
  packages/docling-metrics-text/tests/data/md/GT_ff69e9cd316e51f70c13116a77e3bd753ac906ed2c2daac4129f93bb20d1b6c6.md
  packages/docling-metrics-text/tests/data/md/GT_ff6c5559985711f53e54226825fa27f4db298c368dc36af24acccc57f3c498d2.md
  packages/docling-metrics-text/tests/data/md/GT_ff7fdddf928dc133ace4cfcdb88b361fd5c42adedde38639356720a879474e27.md
  packages/docling-metrics-text/tests/data/md/GT_ff850a0ebda17a1b314eeb2c32291ebc7dd57d4dacf34c666f607e4028eea2ee.md
  packages/docling-metrics-text/tests/data/md/GT_ff86d932d02036ee106321d65dc869effaf785754a5fa0d29657b4e0ed1397d2.md
  packages/docling-metrics-text/tests/data/md/GT_ffa7d492a6c8e1171983a3ff93c9dab2ea27087b16a5593b25e1f60dbc93f9aa.md
  packages/docling-metrics-text/tests/data/md/GT_ffe949aee0067d7064d477ab0cafc99faaa9fc90086b9a5199a4b3b96682a63b.md
  packages/docling-metrics-text/tests/data/md/blocks.md
  packages/docling-metrics-text/tests/data/md/duck.md
  packages/docling-metrics-text/tests/data/md/ending_with_table.md
  packages/docling-metrics-text/tests/data/md/escaped_characters.md
  packages/docling-metrics-text/tests/data/md/inline_and_formatting.md
  packages/docling-metrics-text/tests/data/md/mixed.md
  packages/docling-metrics-text/tests/data/md/mixed_without_h1.md
  packages/docling-metrics-text/tests/data/md/nested.md
  packages/docling-metrics-text/tests/data/md/pred_ff53c7ca2dcd955e07db19643809483cd29dd4e2caedc4e494253cdf0bd51ffc.md
  packages/docling-metrics-text/tests/data/md/pred_ff5c99ec039099a6da52977f98180b847f51378892af85007c9d737c5e97d304.md
  packages/docling-metrics-text/tests/data/md/pred_ff69aaffb9dcb6b8b682804fff48a54d96bf2d594ecae9749835dc048769213f.md
  packages/docling-metrics-text/tests/data/md/pred_ff69e9cd316e51f70c13116a77e3bd753ac906ed2c2daac4129f93bb20d1b6c6.md
  packages/docling-metrics-text/tests/data/md/pred_ff6c5559985711f53e54226825fa27f4db298c368dc36af24acccc57f3c498d2.md
  packages/docling-metrics-text/tests/data/md/pred_ff7fdddf928dc133ace4cfcdb88b361fd5c42adedde38639356720a879474e27.md
  packages/docling-metrics-text/tests/data/md/pred_ff850a0ebda17a1b314eeb2c32291ebc7dd57d4dacf34c666f607e4028eea2ee.md
  packages/docling-metrics-text/tests/data/md/pred_ff86d932d02036ee106321d65dc869effaf785754a5fa0d29657b4e0ed1397d2.md
  packages/docling-metrics-text/tests/data/md/pred_ffa7d492a6c8e1171983a3ff93c9dab2ea27087b16a5593b25e1f60dbc93f9aa.md
  packages/docling-metrics-text/tests/data/md/pred_ffe949aee0067d7064d477ab0cafc99faaa9fc90086b9a5199a4b3b96682a63b.md
  packages/docling-metrics-text/tests/data/md/wiki.md
  packages/docling-metrics-text/tests/data/metrics.json
Due: none

feat(docling-metrics-text): Refactor the DataLoader to load pairs of matched files. Introduce test for the python text metrics
  packages/docling-metrics-text/docling_metrics_text/benchmarks/tokenizers_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/utils/data_loader.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

docs(docling-metrics-text): Rename as README.md
  packages/docling-metrics-text/README.md
Due: none

chore(docling-metrics-text): Clean up pyproject.toml
  packages/docling-metrics-text/pyproject.toml
Due: none

chore: Remove explicitly passing the pyproject.toml as a parameter to ruff-format in pre-commit. This allows to run ruff with the same settings regardless if we are in the root dir or package dir
  .pre-commit-config.yaml
Due: none

feat(docling-metrics-text): Introduce benchmark.py to do runtime benchmarks for the TextMetric itemized per task and save report.
  packages/docling-metrics-text/docling_metrics_text/benchmarks/benchmark.py
  packages/docling-metrics-text/docling_metrics_text/benchmarks/edit_distance_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

fix(docling-metrics-text): Resolving issues with circular dependencies when linking C++ libs
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
Due: none

fix(docling-metrics-text): Fix the external libs dir
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_abseil.cmake
  packages/docling-metrics-text/cmake/extlib_re2.cmake
Due: none

feat(docling-metrics-text): Add cmake to download and build edlib
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cmake/extlib_edlib.cmake
Due: none

feat(docling-metrics-text): Refactor the code structure in C++ to have 2 dirs for header and cpp files. Port the edlib directly into the source code tree and comment out the library dependency
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cpp/src/edlib.cpp
  packages/docling-metrics-text/cpp/src/main.cpp
  packages/docling-metrics-text/cpp/src/pybind_module.cpp
  packages/docling-metrics-text/cpp/src/text_manager.cpp
  packages/docling-metrics-text/cpp/src/treebank.cpp
  packages/docling-metrics-text/cpp_src/pybind/text_manager.cpp
  packages/docling-metrics-text/cpp_src/pybind/text_manager.h
  packages/docling-metrics-text/cpp_src/tokenizer/treebank.h
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: clang-format, mypy

chore(docling-metric-text): Clean up code
  packages/docling-metrics-text/cpp/src/text_manager.cpp
Due: clang-format

chore(docling-metric-text): Switch to Python mode
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

fix(docling-metrics-text): Fix the .gitignore to have cpp/include in the repo
  packages/docling-metrics-text/.gitignore
  packages/docling-metrics-text/CMakeLists.txt
Due: none

feat(docling-metrics-text): First attempt to implement edlibAlignStrings() with support on vectors of strings
  packages/docling-metrics-text/cpp/include/edlib.h
  packages/docling-metrics-text/cpp/include/text_manager.h
  packages/docling-metrics-text/cpp/include/treebank.h
  packages/docling-metrics-text/cpp/src/edlib.cpp
  packages/docling-metrics-text/cpp/src/text_manager.cpp
  packages/docling-metrics-text/cpp_tests/test_edit_distance.cpp
Due: clang-format

feat(docling-metrics-text): Introduce a separate implementation of the edit_distance that operates on vectors of strings and uses Myers algorithm
  packages/docling-metrics-text/cpp/include/edit_distance.h
  packages/docling-metrics-text/cpp/include/edlib.h
  packages/docling-metrics-text/cpp/include/text_manager.h
  packages/docling-metrics-text/cpp/src/edit_distance.cpp
  packages/docling-metrics-text/cpp/src/edlib.cpp
  packages/docling-metrics-text/cpp/src/text_manager.cpp
Due: clang-format

Add docling-metrics-text to CI
  .github/workflows/cd.yml
Due: none

Properly query build backend from pyproject.toml in pypi CD flow
  .github/workflows/pypi.yml
Due: none

chore: Properly query build backend from pyproject.toml in pypi CD flow (#9)
  .github/workflows/pypi.yml
Due: none

feat(docling-metrics-text): Integrate the C++ implementation for token-based edit-distance to the TextMetrics Introduce edit_distance_benchmarker.py to measure exactness and runtime performance.
  packages/docling-metrics-text/docling_metrics_text/benchmarks/edit_distance_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/pyproject.toml
Due: mypy

feat(docling-metrics-text): Make the C++ implementation the default option. Sunset unused code.
  packages/docling-metrics-text/CMakeLists.txt
  packages/docling-metrics-text/cpp/include/_edlib.h
  packages/docling-metrics-text/cpp/src/_edlib.cpp
  packages/docling-metrics-text/docling_metrics_text/benchmarks/benchmark.py
  packages/docling-metrics-text/docling_metrics_text/benchmarks/edit_distance_benchmark.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: clang-format, mypy

docs: Update README.md for docling-metrics-text and docling-metrics-teds
  packages/docling-metrics-teds/README.md
  packages/docling-metrics-text/README.md
Due: none

fix: Improve the signature of the unimplemented methods of docling_metrics_teds.py and docling_metrics_text.py
  packages/docling-metrics-teds/docling_metrics_teds/docling_metrics_teds.py
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

docs: Update README.md for docling-metrics-text and docling-metrics-teds (#10)
  packages/docling-metrics-teds/README.md
  packages/docling-metrics-teds/docling_metrics_teds/docling_metrics_teds.py
  packages/docling-metrics-text/README.md
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

feat(docling-metrics-layout): Migrate code from doclign-eval. WIP
  packages/docling-metrics-layout/.gitignore
  packages/docling-metrics-layout/CMakeLists.txt
  packages/docling-metrics-layout/README.md
  packages/docling-metrics-layout/cmake/extlib_abseil.cmake
  packages/docling-metrics-layout/cmake/extlib_cxxopts.cmake
  packages/docling-metrics-layout/cmake/extlib_edlib.cmake
  packages/docling-metrics-layout/cmake/extlib_json.cmake
  packages/docling-metrics-layout/cmake/extlib_loguru.cmake
  packages/docling-metrics-layout/cmake/extlib_re2.cmake
  packages/docling-metrics-layout/cpp/include/layout_manager.h
  packages/docling-metrics-layout/cpp/src/layout_manager.cpp
  packages/docling-metrics-layout/cpp/src/main.cpp
  packages/docling-metrics-layout/cpp/src/pybind_module.cpp
  packages/docling-metrics-layout/devtools/build_cpp.sh
  packages/docling-metrics-layout/devtools/test_cpp.sh
  packages/docling-metrics-layout/docling_metrics_layout/docling_metrics_layout.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/confusion_matrix_exporter.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/multi_label_confusion_matrix.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_layout_evaluator.py
  packages/docling-metrics-layout/docling_metrics_layout/pixel/pixel_types.py
  packages/docling-metrics-layout/pyproject.toml
Due: clang-format, mypy

chore(docling-metrics-layout): Code formatting.
  packages/docling-metrics-layout/cpp/include/layout_manager.h
  packages/docling-metrics-layout/cpp/src/layout_manager.cpp
  packages/docling-metrics-layout/cpp/src/main.cpp
  packages/docling-metrics-layout/docling_metrics_layout/pixel/multi_label_confusion_matrix.py
  packages/docling-metrics-teds/docling_metrics_teds/utils/teds.py
  pyproject.toml
  uv.lock
Due: clang-format, mypy

Path conditions:
  clang-format: any of: \.(cpp|h)$
  mypy: any of: \.py$
