Repository docling-project/docling-metrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: Format C++ code
  entry: uv run clang-format -i
  pass_filenames: true
  language: system

mypy:
  name: MyPy
  entry: uv run --no-sync mypy packages/
  pass_filenames: false
  language: system

Tis/chemistry eval (#21)
  .github/workflows/cd.yml
  README.md
  packages/docling-metrics-chemistry/README.md
  packages/docling-metrics-chemistry/docling_metrics_chemistry/__init__.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/cxsmiles_parser.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/docling_metrics_chemistry.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/molecule_scores.py
  packages/docling-metrics-chemistry/docling_metrics_chemistry/py.typed
  packages/docling-metrics-chemistry/docling_metrics_chemistry/smiles_utils.py
  packages/docling-metrics-chemistry/pyproject.toml
  packages/docling-metrics-chemistry/tests/data/test_gt_smiles_list.json
  packages/docling-metrics-chemistry/tests/data/test_gt_smiles_opt_list.json
  packages/docling-metrics-chemistry/tests/data/test_predicted_smiles_list.json
  packages/docling-metrics-chemistry/tests/data/test_predicted_smiles_opt_list.json
  packages/docling-metrics-chemistry/tests/test_run_eval.py
  packages/docling-metrics-chemistry/tests/test_smiles_metric.py
  packages/docling-metrics-chemistry/tests/test_smiles_metric_json_vectors.py
  pyproject.toml
  uv.lock
Due: mypy

fixed keep_in_memory for blue
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

fix: Enable `keep_in_memory` for bleu (#25)
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
Due: mypy

fix: escape braces in TEDS cell content
  packages/docling-metrics-table/docling_metrics_table/utils/teds.py
  packages/docling-metrics-table/tests/test_teds_metric.py
Due: mypy

fix: WIP to improve the color pallete of TORE
  packages/docling-metrics-layout/docling_metrics_layout/tore/confusion_matrix_exporter.py
Due: mypy

chore: Add test to reproduce the table brackets issue
  packages/docling-metrics-table/tests/test_teds_brackets.py
Due: mypy

chore: Use f-strings
  packages/docling-metrics-table/docling_metrics_table/utils/teds.py
Due: mypy

fix(docling-metrics-table): Introduce validation against malformed input for TEDs. - All malformed will be rejected in the C++ code and raise an exception in Python - Add new tests for C++
  packages/docling-metrics-table/cpp_src/parser/bracket_notation_parser.h
  packages/docling-metrics-table/cpp_src/parser/bracket_notation_parser_impl.h
  packages/docling-metrics-table/cpp_src/pybind/teds_manager.h
  packages/docling-metrics-table/cpp_tests/parser/CMakeLists.txt
  packages/docling-metrics-table/cpp_tests/parser/parser_validate_test.cc
  packages/docling-metrics-table/cpp_tests/parser/parser_validate_test_data.txt
  packages/docling-metrics-table/docling_metrics_table/utils/teds.py
Due: clang-format, mypy

fix: Harden the TEDSManager to catch exceptions internally and set the proper error_id
  packages/docling-metrics-table/cpp_src/pybind/teds_manager.h
Due: clang-format

chore: Clean up unused code
  packages/docling-metrics-table/docling_metrics_table/benchmarks/teds_benchmark.py
  packages/docling-metrics-table/docling_metrics_table/benchmarks/teds_benchmarker.py
Due: mypy

fix(docling-metrics-table): Make teds.py a recursion-free implementation. Extend the unit tests
  packages/docling-metrics-table/docling_metrics_table/utils/teds.py
  packages/docling-metrics-table/tests/test_teds_metric.py
Due: mypy

fix: Harden the TEDS metric implementation against malformed input (#27)
  packages/docling-metrics-table/cpp_src/parser/bracket_notation_parser.h
  packages/docling-metrics-table/cpp_src/parser/bracket_notation_parser_impl.h
  packages/docling-metrics-table/cpp_src/pybind/teds_manager.h
  packages/docling-metrics-table/cpp_tests/parser/CMakeLists.txt
  packages/docling-metrics-table/cpp_tests/parser/parser_validate_test.cc
  packages/docling-metrics-table/cpp_tests/parser/parser_validate_test_data.txt
  packages/docling-metrics-table/docling_metrics_table/benchmarks/teds_benchmark.py
  packages/docling-metrics-table/docling_metrics_table/benchmarks/teds_benchmarker.py
  packages/docling-metrics-table/docling_metrics_table/utils/teds.py
  packages/docling-metrics-table/tests/test_teds_brackets.py
  packages/docling-metrics-table/tests/test_teds_metric.py
Due: clang-format, mypy

chore: Support python3.14 in CI/CD
  .github/workflows/wheels.yml
Due: none

fix: Refactor build_cpp.sh scripts across all sub-projects to allow working with arbitrary python venv
  packages/docling-metrics-layout/devtools/build_cpp.sh
  packages/docling-metrics-table/devtools/build_cpp.sh
  packages/docling-metrics-text/devtools/build_cpp.sh
Due: none

fix: Support for python3.14 in CI/CD and improve the build_cpp.sh scripts (#28)
  .github/workflows/wheels.yml
  packages/docling-metrics-layout/devtools/build_cpp.sh
  packages/docling-metrics-table/devtools/build_cpp.sh
  packages/docling-metrics-text/devtools/build_cpp.sh
Due: none

chore: Fix the github workflow to test against python 3.14 too
  .github/workflows/job-checks.yml
Due: none

chore: Fix the github workflow to test against python 3.14 too (#29)
  .github/workflows/job-checks.yml
Due: none

fix(docling-metrics-table): Reject empty html tables to avoid div by 0
  packages/docling-metrics-table/docling_metrics_table/utils/teds.py
Due: mypy

fix: Reject empty html tables to avoid div by 0 (#30)
  packages/docling-metrics-table/docling_metrics_table/utils/teds.py
Due: mypy

fix(docling-metrics-text): make undefined BLEU explicit instead of swallowing errors
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

Add CJK segmentation before tokenize
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  pyproject.toml
Due: mypy

clean up pyproject.toml
  pyproject.toml
Due: none

fix(text): preserve default BLEU tokenization for CJK
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/tests/data/metrics.json
Due: mypy

fix(text): fold fullwidth forms and segment CJK once before tokenize
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

fix: Add CJK segmentation before tokenize (#32)
  packages/docling-metrics-text/docling_metrics_text/docling_metrics_text.py
  packages/docling-metrics-text/tests/data/metrics.json
  packages/docling-metrics-text/tests/test_text_metrics.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cpp|h)$
  mypy: any of: \.py$
